            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                text-decoration: none;
                list-style: none;
            }
            
            body {
                background-color: #f3f2ee;
                overflow-x: hidden;
                font-family: sans-serif;
            }
            
            .navimg {
                width: 200px;
                height: 30px;
            }
            
            .logo {
                position: relative;
            }
            
            .logo::after {
                position: absolute;
                content: "Store";
                left: 170px;
                bottom: -5px;
            }
            
            ul li a:hover {
                color: red !important;
                letter-spacing: 1.5px;
                transition: all .4s;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                -ms-transition: all .4s;
                -o-transition: all .4s;
            }
            
            .active {
                color: red !important;
            }
            
            .nav {
                width: 99vw;
                position: fixed;
                background-color: white;
                z-index: 444;
                padding: 18px 0;
                box-shadow: 3px 1px 1px 1px;
            }
            
            nav,
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .icon {
                margin-right: -2px;
                padding: 10px;
            }
            
            .icon i {
                padding: 0 5px;
            }
            
            input {
                border: 2.2px solid #000000;
                border-radius: 10px;
                text-align: center;
                margin-right: 5px;
            }
            
            ul li a {
                padding: 20px;
                color: rgb(0, 0, 0) !important;
                /* important دي علشان تاج  بتدي استايل انه يبقي اللون ازرق اجباري  */
                font-size: 25px;
            }
            /* start media Query */
            
            @media screen and (max-width: 1240px) {
                .text5 {
                    left: 10vw !important;
                }
            }
            
            @media screen and (max-width: 1120px) {
                .text5 {
                    left: 4vw !important;
                }
            }
            
            @media screen and (max-width: 1080px) {
                .icon i {
                    display: none;
                }
            }
            
            @media screen and (max-width: 1000px) {
                .text5 {
                    left: -4vw !important;
                }
            }
            
            @media screen and (max-width: 910px) {
                .price {
                    display: none;
                }
            }
            
            @media screen and (max-width: 780px) {
                .text5 {
                    left: -19vw !important;
                }
            }
            
            @media screen and (max-width: 810px) {
                .input1 {
                    display: none;
                }
            }
            
            @media screen and (max-width: 690px) {
                .text5 {
                    font-size: 1rem !important;
                    left: -22vw !important;
                }
            }
            
            @media screen and (max-width: 600px) {
                ul li a {
                    font-size: 16px;
                    padding-left: 3px !important;
                    margin-right: -2vw;
                }
            }
            
            @media screen and (max-width: 460px) {
                ul {
                    display: none;
                }
                .nav img {
                    margin-left: 15vh;
                    display: block;
                }
                .logo::after {
                    left: 281px;
                    bottom: -2vh;
                }
            }
            /* End media query */
            /*---------------------------------- text1--------------------------------------*/
            
            .text1 {
                padding: 40vh 0 0 5vw;
                background-image: url(../img/hero-1.jpg);
                background-position: center;
                background-size: 100% 100%;
                width: 100vw;
                height: 100vh;
                line-height: 40px;
                object-fit: contain;
            }
            
            .text1 h6 {
                color: red;
                font-size: 15px;
            }
            
            button {
                padding: 10px 20px;
                background-color: black;
                font-size: 20px;
                margin: 20px 0;
                font-weight: 700;
                text-transform: capitalize;
                color: aliceblue !important;
                border-radius: 15px;
                cursor: pointer;
            }
            
            button:hover {
                letter-spacing: 1.8px;
                transition: .7s linear;
            }
            
            button a {
                color: aliceblue !important;
                padding: 0 5px;
            }
            /*---------------------------------------------- text2  --------------------------------------------------------*/
            
            .text2 {
                margin-top: 15vh;
            }
            
            .text2 img {
                width: 300px;
                height: 300px;
                object-fit: contain;
            }
            
            .img1 {
                margin: 40px 20vw;
            }
            
            .img2 {
                margin-left: 20vw;
                margin-top: -1vh;
            }
            
            .img3 {
                margin: 30px 20vw;
            }
            
            .img1,
            .img2,
            .img3 {
                position: relative;
                border-radius: 50px;
            }
            
            .img1,
            .img2,
            .img3:hover {
                opacity: 1;
            }
            
            .text5 {
                position: absolute;
                left: 30%;
                bottom: 30%;
            }
            
            .text6 {
                position: absolute;
                right: 69vw;
                top: 18vh;
                width: 20vw;
            }
            
            .text7 {
                position: absolute;
                left: 40%;
                bottom: 30%;
            }
            /*-------------------------------------   Best Sellers   ----------------------------------*/
            
            .tgrid {
                color: brown;
                font-size: 50px;
                font-weight: 800;
                padding: 20px;
                margin: 20px;
                text-align: center;
                opacity: 0.4;
            }
            
            .images1 {
                filter: blur(1px);
                border-radius: 30px;
                box-shadow: -2px -2px 1px 0px;
                position: relative;
            }
            
            .images1:hover {
                border-radius: 20px;
                filter: blur(0px);
            }
            
            .images1:hover.iconimg img {
                opacity: 1;
            }
            
            .iconimg {
                position: absolute;
                margin: -38vh 32vh;
            }
            
            .imageText,
            .star,
            h6 {
                line-height: 20px;
                margin: 1vw 5vw;
            }
            
            h6 {
                font-size: 20px;
            }
            
            .line2 {
                text-decoration: line-through;
                padding: 0 10px;
                color: rgba(128, 128, 128, 0.76);
            }
            
            .star {
                color: rgb(239, 215, 82);
            }
            
            .iconimg img {
                display: block;
                margin: 15px;
                padding: 5px;
                background: linear-gradient( gray, rgb(233, 231, 231));
                box-shadow: 10px 10px 10px gray, -10px -10px 10px rgb(233, 231, 231);
                border-radius: 5px;
                width: 25px;
                height: 25px;
                object-fit: contain;
                cursor: pointer;
            }
            
            .grid {
                width: 98vw;
                margin-left: 4vw;
                display: grid;
                grid-template-columns: auto auto auto auto;
            }
            
            .trend {
                display: grid;
                grid-template-columns: auto auto auto;
                margin: 8vh 12vh;
            }
            
            .new {
                text-align: center;
                margin-top: 70px;
                font-size: 40px;
                font-weight: 700;
                font-display: inherit;
                color: brown;
            }
            
            .card1 {
                background-color: #f4f2ec;
                margin-top: -15vh;
                text-align: center;
            }
            
            .b1 {
                color: red;
                background-color: #000000;
                border-radius: 20px;
                text-decoration: none;
            }
            /* .image12 {
position: relative;
}

/* .card5 {
position: absolute;
background-color: #f4f2ec;
margin: -19vh 5vw 0;
text-align: center;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
 padding: 5px;
} */
            
            .image12 {
                position: relative;
            }
            
            .card5 {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.804);
                margin: -10vh 4vw;
                padding: 3vh;
                border-radius: 20px;
                text-align: center;
            }
            
            .foter {
                display: grid;
                grid-template-columns: auto auto auto auto;
                margin-top: 30vh;
                color: #Ffff;
                font-weight: bold;
                background-color: rgb(36, 34, 34);
                line-height: 40px;
                width: 100% !important;
                padding: 3vw;
            }
            
            .flogo {
                width: 300px;
            }
            
            .copy {
                padding-left: 30vw;
                background-color: rgb(36, 34, 34);
                color: #f3f2ee;
                padding-bottom: 4vh;
            }
            
            .user {
                color: rgb(226, 91, 91);
                font-weight: 600;
                text-transform: uppercase;
            }